{% extends "portal:portlet.html" %}

{% load static from staticfiles %}

{% block content_main %}

<div class="content-span-header">
  <h1>Media Sharing</h1>
</div>
<div class="applet-row">
  <!-- list of threads/conversations-->
  <div class="applet-col applet-col-6">

    <div class="applet-body">
      <!-- thread -->

    <form>

      <table class="applet-table">
         <thead class="indented">
          <tr>
             <th><input type="checkbox"></th>
             <th></th>
             <th>Name</th>
             <th>Size</th>
             <th>Last Modified</th>
          </tr>
         </thead>
         <tbody>
          <tr>
             <td class="text-large"><input type="checkbox"/></td>
             <td><span class="file-type ion-ios-copy-outline"></span></td>
             <td>File 1.ogg.bak</td>
             <td>1.2Mb</td>
             <td>53 minutes ago</td>
          </tr>
         </tbody>
      </table>
    
    </form>

    </div>

  </div>
</div>
{% endblock %}
