{% extends "portal:portlet.html" %}
{% load static from staticfiles %}

{% block head %}
  
{% endblock %}

{% block content_main %}
<div class="content-span-header">
  <h1>Messenger</h1>
</div>
<div class="applet-row" ng-app="chatApp">
  <!-- list of threads/conversations-->
  <div class="applet-col applet-col-2">
    <div class="applet-header">
      <h4>
        Threads 
        <a href=""><span class="header-icon-desc">new</span><span class="sidebar-icon ion-ios-plus-outline"></span></a>
      </h4>
    </div>

    <div class="applet-body">
      <!-- thread -->
      <div class="thread-pane active">
        <img src="{% static 'images/rob_avtr.png' %}" class="circular-img">
        <div class="description">
          <h5>Rob Johnson</h5>
          <p class="thread-snippet-time right">25 minutes ago.</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="thread-pane">
        <img src="{% static 'images/ryan_avtr.png' %}" class="circular-img">
        <div class="description">
          <h5>Ryan Day</h5>
          <p class="thread-snippet-time right">25 minutes ago.</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="thread-pane">
        <img src="{% static 'images/chris_avtr.png' %}" class="circular-img">
        <div class="description">
          <h5>Chris Smale</h5>
          <p class="thread-snippet-time right">25 minutes ago.</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <!-- thread 2 etc... -->
    </div>
  </div>
  <!-- chat window -->
  <div class="applet-col applet-col-4">
    <div class="applet-header">
      <h4>
        Rob Johnson
          <a href=""><span class="applet-icon icon-blue ion-ios-videocam-outline"></span></a>
          <a href=""><span class="applet-icon icon-red ion-ios-telephone-outline"></span></a>
      </h4>
    </div>
    <div class="applet-body">
      <div id="messages" class="messages">
        <!-- time stamp -->
        <div class="time-stamp">
          <div class="line"></div>
          <p>1 hour ago</p>
          <div class="line"></div>
        </div>
      </div>
      <div>
        <p id="status"></p>
      </div>
      <!--  enter message -->
      <div class="message-box" ng-controller="chatCtrl">
        <form>
            <textarea id="m" class="chat-input" placeholder="Write your message..." ng-model="message"></textarea>
            <button type="submit" class="button-blue chat-button">Send</button>
        </form>
      </div>
    </div>
  </div>
<!---
<div class="message">
  <img src="{% static 'images/rob_avtr.png' %}" class="circular-img">
  <div class="description message-description">
    <h5>Chris Smale</h5>
    <p>Orci ipsum egestas :)</p>
  </div>
</div>
-->

</div>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="{% static 'js/angular-socket.js' %}"></script>  
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  
  <script>
    var socket = io(':3000/');
    var stopTyping;

    // <--------- EMITTED EVENTS ---------> //

    // send message 
    $('form').submit(function(){
      var message = $('#m').val();
      socket.emit('message', message);
      $('#messages').append($('<div class="message"><img src="{% static "images/rob_avtr.png" %}" class="circular-img"><div class="description message-description"><h5>Chris Smale</h5><p>' + message + '</p></div></div>'));
      $('#m').val('');
      return false;
    });

    // <--------- RECEIVED EVENTS --------> //

    // message received...
    socket.on('message', function(msg){
      $('#messages').append($('<div class="message"><img src="{% static "images/rob_avtr.png" %}" class="circular-img"><div class="description message-description"><h5>Chris Smale</h5><p>' + msg + '</p></div></div>'));
    });
  
    // user is typing...
    socket.on('typing', function(user){
      if(user.status == 1){
        console.log(user.id + " is typing");
        $('#status').append().text(user.id + " is typing...");
      }
      else{
        console.log(user.id + " is not typing");
        $('#status').append().text("");
      }

    });

    // <--------- HELPER EVENTS ----------> //

    // User is typing
    $('#m').keypress(function(){
      clearTimeout(stopTyping);
      socket.emit('typing', 1);
    });

    // user has stopped typing
    $('#m').keyup(function(){
      stopTyping = setTimeout(function(){
        socket.emit('typing', 0);
      }, 500);
    });

  </script>
{% endblock %}

