{% extends "base.html" %}

{% load static from staticfiles %}
 

{% block content %}

<nav class="navbar navbar-fixed-top">
  <div class="container-wrap">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="brand-logo" src="{% static 'images/coffee_cup_logo.svg' %}" alt="CoffeeCup Logo">coffee<span class="brand-bold">cup</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <div class="navbar-user-info navbar-right">
            <span class="user-fullname">Daniel Koehler</span>
            <span class="user-description">Web Admin</span> 
            <img class="user-image" src="{% static 'images/dan_avtr.png' %}" alt="Daniel Arno George Koehler">
            <button class="ion-ios-arrow-down user-options-button"></button>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">CoffeeStream</a></li>
        <li class="active"><a href="#">Portal</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid"> 
  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar">
        <li class="sidebar-project">
          <div class="project-info">
            <img class="project-image" src="{% static 'images/project_one.png' %}" alt="Project Title">
            <span class="project-title">Project title</span>
            <span class="project-description">Project description</span>
            <button class="ion-ios-arrow-down project-select-button"></button>
          </div>
        </li>
        <li class="active">
          <a href="">
            <span class="sidebar-icon ion-ios-speedometer-outline"></span>
            <span class="sidebar-menu-title">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-albums-outline"></span>
            <span class="sidebar-menu-title">Media Sharing</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-calendar-outline"></span>
            <span class="sidebar-menu-title">Scheduling System</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-chatbubble-outline"></span>
            <span class="sidebar-menu-title">Crew Messenger</span>
            <!-- <span class="notification-badge">3</span> -->
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-navigate-outline"></span>
            <span class="sidebar-menu-title">Location Manager</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-videocam-outline"></span>
            <span class="sidebar-menu-title">Equipment Manager</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="sidebar-icon ion-ios-people-outline"></span>
            <span class="sidebar-menu-title">User Administration</span>
            </a>
        </li>
      </ul>
    </div>
    <div class="content main">
      <div class="content-span-header">
        <h1>Dashboard</h1>
      </div>

      {{ menu }}

      {% load menu %}{% generate_menu %}

        {% for item in menus.main %} 

          <p>{{item}}</p>
          
        {% endfor %}

     </div>

    </div>
  </div>
</div>

{% endblock %}
