{% extends "portal:portlet.html" %}

{% load static from staticfiles %}

{% block content_main %}

<div class="content-span-header">
  <h1>Scheduling</h1>
</div>
<div class="applet-row scheduler">
  <!-- list of threads/conversations-->
  	<div class="applet-col-header header-thin text-centre">
  	
  		<i class="ion-ios-arrow-back"></i>
  		<span class="scheduler-monthday">Mar 10</span> <span class="scheduler-year">2015</span>
  		<i class="ion-ios-arrow-forward"></i>

  	</div>

	<div class="applet-cell scheduler-calendar day-view"> <!-- Main Calendar Content -->
		<div class="day-timeline">
			<div class="hours">
				<span class="timeline-day">Tuesday</span>

				<div class="hours-header"></div>
				<div class="hour">
					<span class="hour-label">1</span>
				</div>	
				<div class="hour">
					<span class="hour-label">2</span>
				</div>
				<div class="hour">
					<span class="hour-label">3</span>
				</div>
				<div class="hour">
					<span class="hour-label">4</span>
				</div>
				<div class="hour">
					<span class="hour-label">5</span>
				</div>
				<div class="hour">
					<span class="hour-label">6</span>
				</div>
				<div class="hour">
					<span class="hour-label">7</span>
				</div>
				<div class="hour">
					<span class="hour-label">8</span>
				</div>
				<div class="hour">
					<span class="hour-label">9</span>
				</div>
				<div class="hour">
					<span class="hour-label">10</span>
				</div>
				<div class="hour">
					<span class="hour-label">11</span>
				</div>
				<div class="hour">
					<span class="hour-label">Noon</span>
				</div>
				<div class="hour">
					<span class="hour-label">1</span>
				</div>
				<div class="hour">
					<span class="hour-label">2</span>
				</div>
			</div>

		</div>
		<div class="day-details">

			<div class="details-header">
				<div class="calendar-month-view">
					<div class="week-titles">

						<div class="calendar-item">Sun</div>
						<div class="calendar-item">Mon</div>
						<div class="calendar-item">Tue</div>
						<div class="calendar-item">Wed</div>
						<div class="calendar-item">Thu</div>
						<div class="calendar-item">Fri</div>
						<div class="calendar-item">Sat</div>

					</div>
					<div class="week-row">
						<div class="calendar-item">1</div>
						<div class="calendar-item">2</div>
						<div class="calendar-item">3</div>
						<div class="calendar-item">4</div>
						<div class="calendar-item">5</div>
						<div class="calendar-item">6</div>
						<div class="calendar-item">7</div>
					</div>
					<div class="week-row">
						<div class="calendar-item">8</div>
						<div class="calendar-item">9</div>
						<div class="calendar-item active">10</div>
						<div class="calendar-item">11</div>
						<div class="calendar-item">12</div>
						<div class="calendar-item">13</div>
						<div class="calendar-item">14</div>
					</div>
					<div class="week-row">
						<div class="calendar-item">15</div>
						<div class="calendar-item">16</div>
						<div class="calendar-item">17</div>
						<div class="calendar-item">18</div>
						<div class="calendar-item">19</div>
						<div class="calendar-item">20</div>
						<div class="calendar-item">21</div>
					</div>
					<div class="week-row">
						<div class="calendar-item">22</div>
						<div class="calendar-item">23</div>
						<div class="calendar-item">24</div>
						<div class="calendar-item">25</div>
						<div class="calendar-item">26</div>
						<div class="calendar-item">27</div>
						<div class="calendar-item">28</div>
					</div>
				</div>

				<span class="details-day">10</span> 
				<span class="details-date-textual"><span class="text-bold">Tuesday</span>, Febuary 10, 2015</span> 

			</div>

			<div class="details-events">

				<div class="event">
					<span class="event-title">Event Title</span>
					<span class="start-time">10.30 AM Feb 10</span>
					<span class="end-time">to 1.30 PM Feb 10</span>
				</div>				
				<div class="event active">
					<span class="event-title">Another Event Title</span>
					<span class="start-time">10.30 AM Feb 10</span>
					<span class="end-time">to 1.30 PM Feb 10</span>
				</div>

			</div>

		</div>



	</div><!-- END Main Calendar Content -->
</div>
{% endblock %}
