{% extends "portal:base.html" %}

{% load static from staticfiles %}

{% block body %}

{% include 'navigation.html' %}

<div class="login-wrap">
  
  <div class="login-header">
    <h2>Login to CoffeeCup</h2>
  </div>

  <form class="login-form" action="/login/" method="post">
  
    {% csrf_token %}
    {{ form }}

    <p>Forgot your <a href="">user name</a> or <a href="">password</a>?</p>

    <button type="submit" class"applet-button large applet-button-blue">Sign In</button>
  </form>



  <div class="login-footer">
    <img class="login-icon" src="{% static 'images/fb_icon.svg' %}">
    <p>Log in using your <span class="text-bold">Facebook</span> account.</p>
  </div>


</div>



{% endblock %}