{% extends "portal:base.html" %}

{% load static from staticfiles %}

{% block body %}

<!-- <div class="row"> -->
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li class="sidebar-project">

        <div class="project-info">
          <img class="project-image" src="{% static 'images/project_one.png' %}" alt="Project Title">
          <span class="project-title">Project title</span>
          <span class="project-description">Project description</span>
          <button class="ion-ios-arrow-down project-select-button"></button>
        </div>
      
      </li>

      {% load menu %}{% generate_menu %}


      {% for item in menus.sidebar %} 

          <li  class="{% if item.selected %} active{% endif %}">
            <a href="{{ item.url }}">
              <span class="sidebar-icon ion-{{ item.icon }}"></span>
              <span class="sidebar-menu-title">{{ item.title }}</span>

              {% if item.children %}<span class="ion-chevron-right sidebar-children-indicator"></span>{% endif %}

            </a>

          

          {% if item.selected and item.children %} 

            <ul class="submenu">

            {% for child in item.children %} 

              <li  class="{% if child.selected %} active{% endif %}">
                <a href="{{ child.url }}">
                  <span class="sidebar-icon ion-{{ child.icon }}"></span>
                  <span class="sidebar-menu-title">{{ child.title }}</span>
                </a>
              </li>

            {% endfor %}

            </ul>

          {% endif %}
          


        </li>

      {% endfor %}
      
    </ul>
  </div> <!-- end sidebar -->

  {% block main %} 

    <div class="content main" >

        {% block main_content %} 
        {% endblock %}

    </div>
  {% endblock %}
  
{% endblock %}