{% extends "portal:portlet.html" %}

{% load static from staticfiles %}


{% block main_content %}

<div class="content-span-header">
  <h1>Location Manager</h1>
</div>
<div class="applet-row location-manager">
  <!-- list of threads/conversations-->
  <div class="applet-col applet-col-2">
    <div class="applet-header">
      <h4>
        Locations 
        <a href=""><span class="header-icon-desc">new</span><span class="icon ion-ios-plus-outline"></span></a>
      </h4>
    </div>

    <div class="applet-body">
      <!-- thread -->
      <div class="thread-pane">
        <img src="{% static 'images/taf.png' %}" class="circular-img">
        <div class="description">
          <h5>Taf River</h5>
          <p class="thread-snippet-time"> - Cardiff</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="thread-pane">
        <img src="{% static 'images/rhine.png' %}" class="circular-img">
        <div class="description">
          <h5>Rhine Falls</h5>
          <p class="thread-snippet-time"> - Zurich</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="thread-pane active">
        <img src="{% static 'images/gotthard.png' %}" class="circular-img">
        <div class="description">
          <h5>Gotthard Pass</h5>
          <p class="thread-snippet-time"> - Swiss Alps</p>
          <p class="thread-snippet">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <!-- thread 2 etc... -->
    </div>
  </div>
  <!-- chat window -->
  <div class="applet-col applet-col-4">
    <div class="applet-header">

      <ul class="applet-header-list">
        <li><span class="text-bold">Gotthard Pass</span></li>
        <li class="text-secondary text-normal">Latitude: 46.586355   –   Longitude: 8.562244</li>
      </ul>

    </div>
    <div class="applet-body">

      <div class="location-map">

        <div id="map-canvas"></div>

      </div>

      <div class="location-details">

        <h2>St. Gotthard’s Pass, Switzerland.</h2>

        <div class="row segmented-input">

          <label>Coordinates (Lat, Long)</label>
          <input type="text" placeholder="Lat" value="46.563020">
          <input type="text" placeholder="Long" value="8.549326">
        </div>


        <div class="row">

          <label>Description</label>
           <p>Vel vel gravida est non eros, est dictum class eu nunc, mi natoque, ante mauris donec, tristique curabitur donec volutpat dictum vivamus consectetuer. Eget in non nibh, diam illum dui, cras sit mauris nullam, placerat quis quam nullam ac.</p>
        </div>

      </div>
    </div>
    <div class="applet-body">

      <div class="applet-column-group">
        <h4>Photo's of Gotthard Pass</h4>
      </div>

      <br>
      <br>
      <br>
      <br>

    </div>
    <div class="applet-body">

      <div class="applet-column-group">
        <h4>Event's at Gotthard Pass</h4>
      </div>

      <br>
      <br>
      <br>
      <br>


    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.19"></script>
<script type="text/javascript">
  
  var map;

  function initialize() {


    var gotthardLatLong = new google.maps.LatLng(46.563020, 8.549326);
    
    var mapOptions = {
      zoom: 12,
      center: gotthardLatLong
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: gotthardLatLong,
        map: map,
        title:"St. Gotthard's Pass"
    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
