{% extends "portal:portlet.html" %}

{% load static from staticfiles %}

{% block main_content %}

<div class="applet-row equipment-manager">
	<div class="applet-col applet-col-4">
		<div class="applet-column-group">
			<h1>Dashboard</h1>
		</div>
	</div>

	<!-- list of threads/conversations-->
	<div class="applet-col applet-col-2">

	    <div class="applet-column-group">
	      <h4>Upcoming Events</h4>
	    </div>
		<div class="applet-body">
		<!-- thread -->

		</div>

	    <div class="applet-column-group">
      		<h4>My Equipment</h4>
    	</div>
		<div class="applet-body">

		</div>
</div>
{% endblock %}
